<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>new_web_java_3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataSearchServlet</display-name>
    <servlet-name>DataSearchServlet</servlet-name>
    <servlet-class>test.DataSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSearchServlet</servlet-name>
    <url-pattern>/dataSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResultServlet</display-name>
    <servlet-name>SearchResultServlet</servlet-name>
    <servlet-class>test.SearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResultServlet</servlet-name>
    <url-pattern>/searchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataDeleteServlet</display-name>
    <servlet-name>DataDeleteServlet</servlet-name>
    <servlet-class>test.DataDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataDeleteServlet</servlet-name>
    <url-pattern>/dataDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataChangeServlet</display-name>
    <servlet-name>DataChangeServlet</servlet-name>
    <servlet-class>test.DataChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataChangeServlet</servlet-name>
    <url-pattern>/dataChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataInsertServlet</display-name>
    <servlet-name>DataInsertServlet</servlet-name>
    <servlet-class>test.DataInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataInsertServlet</servlet-name>
    <url-pattern>/dataInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllSearchServlet</display-name>
    <servlet-name>AllSearchServlet</servlet-name>
    <servlet-class>test.AllSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllSearchServlet</servlet-name>
    <url-pattern>/allSearch</url-pattern>
  </servlet-mapping>
</web-app>